    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 Cape Town Festival. All rights reserved.</p>
    </footer>

    <!-- JavaScript for Mobile Menu -->
    <script>
        const mobileMenu = document.getElementById('mobile-menu');
        const navList = document.querySelector('.nav-list');

        mobileMenu.addEventListener('click', () => {
            mobileMenu.classList.toggle('active');
            navList.classList.toggle('active');
        });
    </script>
    <script src="https://kit.fontawesome.com/0bc0c18be0.js" crossorigin="anonymous"></script>
</body>
</html>